:root {
  --50: #f8fafc;
  --100: #f1f5f9;
  --200: #e2e8f0;
  --300: #cbd5e1;
  --400: #94a3b8;
  --500: #64748b;
  --600: #475569;
  --700: #334155;
  --800: #1e293b;
  --900: #0f172a;
}

html,
body {
  height: 100%;
}

.wrapper {
  min-height: 100%;
  display: grid;
  grid-template-rows: 1fr 6fr 0.5fr;
}

header {
  background-color: var(--600);
  color: var(--100);
  display: flex;
  align-items: center;
  justify-content: center;
}

header h1 {
  font-size: 36px;
}

main {
  height: 100%;
  background-color: var(--300);
  color: var(--900);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.name-input-container {
  padding: 15px;
}

.player-name-container {
  padding: 5px;
}

.gameboard {
  text-align: center;
  height: 75%;
  width: 75%;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(3, 1fr);
  margin: 15px;
}

.gameboard > div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.game-box {
  border: 1px dotted var(--900);
  font-size: 24px;
  font-weight: bold;
  background-color: var(--100);
  color: var(--900);
}

.game-box:hover {
  cursor: pointer;
  background-color: var(--200);
}

#reset {
  padding: 15px;
  margin: 15px;
  font-size: 18px;
  background-color: var(--500);
  color: var(--100);
}

#reset:hover {
  cursor: pointer;
  color: red;
}

footer {
  grid-row-start: 3;
  grid-row-end: 4;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--600);
  color: var(--100);
}
